<!doctype html>
<html lang="zh-CN">
  <head>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <style>
      * {
        box-sizing: border-box;
      }
      html {
        overflow: visible;
      }
      body {
        margin: 0;
      }
      .BMap_cpyCtrl {
        display: none;
      }
      .anchorBL {
        display: none;
      }
      #map {
        width: 650px;
        height: 650px;
      }
    </style>
  </head>
  <body>
    <div class="main">
      <div id="map"></div>
    </div>

    <script src="https://api.map.baidu.com/api?type=webgl&v=3.0&ak=<%= baiduMapAK %>"></script>
    <script>
      var map = new BMapGL.Map('map')
      map.centerAndZoom(
        new BMapGL.Point(Number('<%= mapLongitude %>'), Number('<%= mapLatitude %>')),
        17
      )
      map.enableScrollWheelZoom(true)
      map.setMapStyleV2({ styleId: '975d24a1bf601154fa5f759cac0ff9a5' })
      map.setTrafficOn()

      const companyMark = new BMapGL.Marker(
        new BMapGL.Point(Number('<%= mapLongitude %>'), Number('<%= mapLatitude %>'))
      )
      map.addOverlay(companyMark)

      map.addEventListener('tilesloaded', function () {
        setTimeout(() => {
          window.mapOK = true
        }, 5000)
      })
      setTimeout(() => {
        window.mapOK = true
      }, 10000)
    </script>
  </body>
</html>
